.App {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
}

/* MAin */

.container {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1rem 1rem 1rem 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

.Contanier {
  display: flex;
  gap: 7rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  background-color: #d9d9d9;

}


.Trigger {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 90%;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  background-color: #Fff;
  border: 2px solid #000;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;

  font-weight: 900;
  transition: 0.2s;
}

.Trigger:hover{
  color:#fff;
  background-color: #339989 
}

.Trigger:focus {
  color: #339989;
  text-decoration: underline;
}

.ContentTabs {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  align-self: center;
}

.ContentTabs section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  width: 70%;

  margin-left: 1rem;
  margin-right: 1rem;
}

.ContentTabs section h1 {
  align-self: center;
}

.ContentTabs section Button {
  background-color: #05f140ff;
  padding: 1rem;
  border-radius: 1rem;
  transition: 1s;

}

.ContentTabs section Button:hover {
  background-color: #03dd3a;
  border-radius: 1.2rem;
}

.ContentTabs section p {
  width: 90%;
  align-self: center;
}

.ContentTabs section Button {
  font-weight: 600;
  color: #339989;
}

.Trigger,
.ContentTabs h1,
.ContentTabs img,
.ContentTabs section,
.ContentTabs section p {
  background-color: #d9d9d9;
  color: #010101;
  font-weight: 400;
}

.ContentTabs img {
  height: 10rem;
  width: 10rem;
  background-color: #d9d9d9;
}


@media (max-width: 600px) {

  .Contanier {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #d9d9d9;
  }

  .Trigger {
    font-family: 0.7rem;

    padding: 0.4rem;
  }
}