@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');


:root {

  --bg-color: #303030ff;
  --font-primiry-color: #e6e8e6ff;
  --persian-g: #339989;
  --secundary-color-bg: #03dd3a;
  --extra: #39579c;
}

* {

  padding: 0;
  margin: 0;
  border: 0;

  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  inset: unset;
  pointer-events: none;

  background-color: var(--bg-color);
  color: var(--font-primiry-color);

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}