.app {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
}


/* Main */

.main {
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-content: center;
}

.section {
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 5rem;
  align-items: center;
}


.section div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
}

.section div h1 {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;

  color: #05f140ff;
}

.section div a {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;

  text-align: center;
  background-color: #05f140ff;
  color: #000;
  font-weight: 400;
  font-size: 1.5rem;
  transition: 1s;


}

.section div a:hover {
  border-radius: 1.5rem;
  background-color: #44ff73;
}


@media (max-width: 600px) {
  /* Main */
  .section {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
  }

  .section img{
    width: 15rem;
  }
}
